div img{
    width: 28%;
    border: 2px solid #000;;
    padding: 2%;
    box-sizing: border-box;
}

.foto1 {

}

.foto2 {
    
}

.foto3 {
    
}

.foto4 {
    
}

.foto5 {
    
}

.foto6 {
    
}

.foto7 {
    
}

.foto8 {
    
}

.foto9 {
    
}