section {
    position: relative;
    width: 70%;
    height: 600px;
    border: 2px solid;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

section div {
    position: relative;
    width: 40%;
    height: 350px;
    border: 2px solid;
    background-color: chartreuse;
}

#caixa2 a:hover{
    background-color: black;
}