body {
    margin-left: 33%;
}

img {
    width: 8%;
    height: 100px;
    margin: 2.5%;
}

#camada1, #camada2, #camada3 {
    position: absolute;
    width: 20%;
    height: 30%;
    top: 21%;
    left: 37%;
    border: 5px double;
    font-size: 14px;
    font-family: Verdana;
    padding: 5px;
    box-sizing: border-box;
    text-align: justify;
    visibility: hidden;  /* usado para esconder o elemento, ele continua na página mas escondido */
}

#camada1 {
    background-color: aquamarine;
    color: blue;
    border-color: blue;
}

#camada2 {
    background-color: rgb(255, 127, 195);
    color: rgb(84, 4, 4);
    border-color: rgb(84, 4, 4);
}

#camada3 {
    background-color: rgb(48, 235, 82);
    color: rgb(8, 52, 9);
    border-color: rgb(12, 66, 27);
}

div img{
    width: 60px;
    height: 60px;
    margin: 10px;
    float: left;
}